body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.contactMoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c21;
}

.left-info .fa-solid {
  margin-right: 5px;
}

.left-info .phoneNumber {
  color: blue;
}

.contact-info .moto {
  color: #ffff;
  padding-right: 10px;
}

.left-info img {
  padding-right: 7px;
}

.left-info a {
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

.left-info a:hover {
  text-decoration: underline;
}

.contactMoto .moto {
  padding-left: 175px;
}

.socialMediaIcons {
  padding-right: 110px;
}

.socialMediaIcons a {
  text-decoration: none; /* Menghapus underline pada tautan ikon */
  color: inherit; /* Menyimpan warna teks asli */
  margin-right: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.left-info {
  display: flex;
  align-items: center;
  padding-right: 20px; /* Tambahkan margin antara info kontak dan ikon sosial media */
}

/* Gantilah atribut src dengan URL gambar yang sesuai */
.phone,
.gmail {
  width: 20px; /* Atur lebar ikon sesuai kebutuhan */
  height: 20px; /* Atur tinggi ikon sesuai kebutuhan */
}

/* Gantilah warna teks sesuai kebutuhan */
.moto,
.phoneNumber,
.gmail-name {
  color: black;
}

/* Gantilah warna latar belakang dan ukuran ikon sesuai kebutuhan */
.social-media-icons img {
  width: 30px; /* Atur lebar ikon sosial media sesuai kebutuhan */
  height: 30px; /* Atur tinggi ikon sosial media sesuai kebutuhan */
  padding-right: 5px;
}

/* Bagian Section pada class features */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 175px;
  gap: 20px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.features .logo-content {
  width: 120px;
  height: 60px;
}

.features ul {
  list-style-type: none; /* Hilangkan bullet points pada daftar */
  display: flex; /* Tampilkan daftar secara horizontal */
  margin: 0;
  padding: 0;
  gap: 45px;
  color: #8d99ae;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.features li {
  font-size: 17px; /* Atur ukuran font untuk teks di dalam daftar */
  margin-right: 15px; /* Tambahkan margin antara elemen daftar */
  cursor: pointer; /* Ganti kursor menjadi pointer untuk menunjukkan tindakan dapat di-klik */
  font-weight: bold;
}

#call {
  width: 75px;
  height: 45px;
  border-radius: 5px;
  background-color: #2cba6c;
  font-weight: bold;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#buttonCall {
  padding-top: 7px;
}

#menuList {
  font-size: medium;
  margin-left: 20px;
}

/* Menetapkan warna teks tautan menjadi abu-abu */
#menuList li a {
  text-decoration: none; /* Menghapus garis bawah pada tautan */
  color: #6c757d; /* Warna teks tautan */
}

/* Mengubah warna tautan menjadi biru tua saat kursor diarahkan */
#menuList li a:hover {
  color: #0000ff; /* Warna teks tautan saat dihover (biru tua) */
}

/* bagian send message */
.sendSubscripePackage {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 150px;
}

.sendSubscripePackage .form-group {
  font-size: 20px;
  font-weight: bold;
  color: #8d99ae;
}

.sendSubscripePackage h2 {
  font-size: 40px;
}

.sendSubscripePackage span {
  color: red;
  margin-left: 2px;
}
.formMessage button {
  width: 100px;
  height: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group #firstName,
.form-group #lastName {
  width: 300px;
  height: 35px;
}

/* Ubah ukuran teks input menjadi 15px saat fokus */
.form-group input:focus,
.form-group textarea:focus {
  font-size: 15px;
}

.name-inputs {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.name-inputs p {
  font-size: 15px;
  margin-top: 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-bottom: 30px;
}

.radio-group .userChoicePackage {
  color: #8d99ae;
}

.listPackageInternet {
  font-size: 18px;
  color: #8d99ae;
}

.form-group #email,
.form-group #phone,
.form-group #addressUser {
  width: 616px;
  height: 35px;
}

.form-group #message {
  width: 900px;
  height: 100px;
}

/* Ubah ukuran teks pada placeholder menjadi 15px */
.form-group input::placeholder,
.form-group textarea::placeholder {
  font-size: 15px;
}

.form-group .inputAddress {
  display: flex;
  gap: 10px;
}

.form-group .inputAddress .inputCity,
.form-group .inputAddress .inputState {
  display: flex;
  flex-direction: column;
}

.inputAddress #city,
.inputAddress #state {
  width: 300px;
  height: 35px;
}

#sendRegister {
  border: none;
  background-color: #e5e4e2;
}

#sendRegister:hover {
  /* border: 1px solid black; */
  background-color: #c0c0c0;
  border-radius: 5px;
}

/* 
  .sendMessage input,
  .sendMessage textarea {
    width: 300px;
    height: 35px;
  } */

/* Bagian ABYS Desc */
#abysDesc {
  display: flex;
  justify-content: space-between; /* Menempatkan kolom dengan jarak seimbang di antara mereka */
  padding-left: 115px;
  padding-right: 115px;
  margin-top: 200px;
  margin-bottom: 40px;
}

#abysDesc p {
  color: #8d99ae;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.kolom {
  flex: 1; /* Menyesuaikan lebar setiap kolom secara seimbang */
  padding: 20px;
  border: none; /* Menambahkan garis tepi ke setiap kolom */
}

/* Styling tambahan sesuai kebutuhan Anda */
.kolom h1 {
  font-size: 24px;
  font-weight: bold;
}

.kolom p {
  font-size: 16px;
  color: #333;
}

.columnsOne h1 {
  font-size: 25px;
}

.columnsOne .aboutUsIcon a {
  text-decoration: none; /* Menghapus underline pada tautan ikon */
  color: inherit; /* Menyimpan warna teks asli */
  margin-right: 10px;
}

.columnsThree h1 {
  margin-bottom: 0;
}

.contactMarketing img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: 20px;
}

.contactMarketing {
  display: flex;
}

.contactLink {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 15px;
}

.contactLink p {
  margin: 2px 0;
}

.contactLink a {
  color: #8d99ae;
  text-decoration: none;
}

.contactLink a:hover {
  color: blue;
}

/* Bagian Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding: 5px 10px; */
}

.footer-icons {
  margin-right: 240px;
}

.footer-icons a {
  text-decoration: none; /* Menghapus underline pada tautan ikon */
  color: inherit; /* Menyimpan warna teks asli */
  margin-right: 0; /* Memberikan gap 5px antara ikon-ikon */
}

.footer-icons i {
  width: 19px;
  height: 30px;
  color: blue;
}

.footer-text {
  color: #1c1c21; /* Atur warna teks sesuai kebutuhan */
  font-size: 14px; /* Atur ukuran font sesuai kebutuhan */
  margin-left: 117px;
}
