body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.contactMoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c21;
}

.left-info .fa-solid {
  margin-right: 5px;
}

.left-info .phoneNumber {
  color: blue;
}

.contact-info .moto {
  color: #ffff;
  padding-right: 10px;
}

.left-info img {
  padding-right: 7px;
}

.left-info a {
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

.left-info a:hover {
  text-decoration: underline;
}

.contactMoto .moto {
  padding-left: 175px;
}

.socialMediaIcons {
  padding-right: 110px;
}

.socialMediaIcons a {
  text-decoration: none; /* Menghapus underline pada tautan ikon */
  color: inherit; /* Menyimpan warna teks asli */
  margin-right: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.left-info {
  display: flex;
  align-items: center;
  padding-right: 20px; /* Tambahkan margin antara info kontak dan ikon sosial media */
}

/* Gantilah atribut src dengan URL gambar yang sesuai */
.phone,
.gmail {
  width: 20px; /* Atur lebar ikon sesuai kebutuhan */
  height: 20px; /* Atur tinggi ikon sesuai kebutuhan */
}

/* Gantilah warna teks sesuai kebutuhan */
.moto,
.phoneNumber,
.gmail-name {
  color: black;
}

/* Gantilah warna latar belakang dan ukuran ikon sesuai kebutuhan */
.social-media-icons img {
  width: 30px; /* Atur lebar ikon sosial media sesuai kebutuhan */
  height: 30px; /* Atur tinggi ikon sosial media sesuai kebutuhan */
  padding-right: 5px;
}

/* Bagian Section pada class features */
.features {
  position: sticky;
  top: 0;
}

.features-web {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 175px;
  gap: 20px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.features-mobile {
  display: none;
}

.features-web .logo-content {
  width: 120px;
  height: 60px;
}

.features-web ul {
  list-style-type: none; /* Hilangkan bullet points pada daftar */
  display: flex; /* Tampilkan daftar secara horizontal */
  margin: 0;
  padding: 0;
  gap: 45px;
  color: #8d99ae;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.features-web li {
  font-size: 17px; /* Atur ukuran font untuk teks di dalam daftar */
  margin-right: 15px; /* Tambahkan margin antara elemen daftar */
  cursor: pointer; /* Ganti kursor menjadi pointer untuk menunjukkan tindakan dapat di-klik */
  font-weight: bold;
}

#call {
  width: 75px;
  height: 45px;
  border-radius: 5px;
  background-color: #2cba6c;
  font-weight: bold;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#buttonCall {
  padding-top: 7px;
}

#menuList {
  font-size: medium;
  margin-left: 20px;
}

/* Menetapkan warna teks tautan menjadi abu-abu */
#menuList li a {
  text-decoration: none; /* Menghapus garis bawah pada tautan */
  color: #6c757d; /* Warna teks tautan */
}

/* Mengubah warna tautan menjadi biru tua saat kursor diarahkan */
#menuList li a:hover {
  color: #0000ff; /* Warna teks tautan saat dihover (biru tua) */
}

/* CSS untuk styling pop up ketika li activity dan career di klik */
/* Gaya CSS untuk pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Akhir styling pop up ketika li activity dan career di klik */

/* Bagian konten */
.promotionImageWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.promotionImageMobile {
  display: none;
}
.promotionImage img {
  width: 1340px;
  height: 357px;
}

/* Bagian promotionInAbys */

.promoInAbysWeb {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 200px;
}

.promoInAbysMobile {
  display: none;
}

.columnPromo {
  padding: 20px;
  width: 300px;
  height: 445px;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #ff4d6d;
  border-radius: 20px;
}

.columnPromo p {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  margin-bottom: 0;
}

.columnPromo img {
  width: 250px;
  height: 350px;
  margin-top: 10px;
  border-radius: 4px;
}

.columnPromo .promotionDetails {
  width: 160px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-size: 15px;
  border-radius: 5px;
  background-color: #ef233c;
}

.promotionDetails:hover {
  /* text-decoration: underline; */
  background-color: #c9184a;
}

.fa-solid {
  margin-right: 4px;
}

/* Akhir bagian promoInAbys */

/* Styling untuk pop up */

/* Gaya CSS untuk pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.popup-content p {
  font-size: 30px;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* Akhir bagian styling untuk pop up */

/* Bagian ABYS Desc */
#abysDesc {
  display: flex;
  justify-content: space-between; /* Menempatkan kolom dengan jarak seimbang di antara mereka */
  padding-left: 115px;
  padding-right: 115px;
  margin-top: 200px;
  margin-bottom: 40px;
}

#abysDescMobile {
  display: none;
}

#abysDesc p {
  color: #8d99ae;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.kolom {
  flex: 1; /* Menyesuaikan lebar setiap kolom secara seimbang */
  padding: 20px;
  border: none; /* Menambahkan garis tepi ke setiap kolom */
}

/* Styling tambahan sesuai kebutuhan Anda */
.kolom h1 {
  font-size: 24px;
  font-weight: bold;
}

.kolom p {
  font-size: 16px;
  color: #333;
}

.columnsOne h1 {
  font-size: 25px;
}

.columnsOne .aboutUsIcon a {
  text-decoration: none; /* Menghapus underline pada tautan ikon */
  color: inherit; /* Menyimpan warna teks asli */
  margin-right: 10px;
}

.columnsThree h1 {
  margin-bottom: 0;
}

.contactMarketing img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: 20px;
}

.contactMarketing {
  display: flex;
}

.contactLink {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 15px;
}

.contactLink p {
  margin: 2px 0;
}

.contactLink a {
  color: #8d99ae;
  text-decoration: none;
}

.contactLink a:hover {
  color: blue;
}

/* Bagian Footer */

.footerSection {
  margin-top: 50px;
}

.footerWeb {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  color: #8d99ae;
  /* padding: 5px 10px; */
  background-color: #e5e4e2;
}

.footerMobile {
  display: none;
}

.footerWeb-icons {
  margin-right: 120px;
}

.footerWeb-icons a {
  text-decoration: none; /* Menghapus underline pada tautan ikon */
  color: inherit; /* Menyimpan warna teks asli */
  /* Memberikan gap 5px antara ikon-ikon */
}

.footerWeb-icons i {
  width: 19px;
  height: 30px;
  color: blue;
}

.footerWeb-text {
  color: #1c1c21; /* Atur warna teks sesuai kebutuhan */
  font-size: 14px; /* Atur ukuran font sesuai kebutuhan */
  margin-left: 115px;

  /* margin-left: 117px; */
}

@media screen and (max-width: 900px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .navigation {
    display: none;
  }

  .menuBars #menuListMobile {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -200px;
    width: 190px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s; /* Tambahkan efek transisi */
    display: none;
    text-align: center;
  }

  .menuBars #menuListMobile li {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(141, 153, 174, 0.2);
  }

  #menuListMobile li:hover {
    background-color: #ced4da;
  }

  #menuListMobile li a:hover {
    color: #4c566a;
  }

  /* Tambahkan margin ke bawah untuk setiap elemen <li> */
  #menuListMobile li a {
    width: 100%;
    height: 100%;
    /* margin: 20px; */
    padding: 10px;
    text-decoration: none;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8d99ae;
  }

  #menuListMobile.active {
    right: 0;
    display: block;
  }

  #menuListMobile img {
    width: 100px;
    height: 200px;
  }

  .xIconMenu {
    display: flex;
    justify-content: end;
    text-align: end;
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }

  #buttonCallMobile {
    margin-top: 2px;
  }

  #buttonCallMobile #callMobile {
    height: 45px;
    border-radius: 1px;
    background-color: #2cba6c;
    font-weight: bold;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #buttonCallMobile #call:hover {
    background-color: #29ab87; /* Ganti warna latar belakang saat hover */
    color: #fff; /* Ganti warna teks saat hover */
  }

  .iconsMenuBars a {
    text-decoration: none; /* Menghapus underline pada tautan ikon */
    margin-right: 0;
    margin: 5px;
  }

  .iconsMenuBars i {
    margin-top: 10px;
  }

  /* Tampilkan social media icons di versi mobile */
  .socialMediaIcons {
    display: block;
  }

  /* Kode untuk bagian features */

  .features {
    position: static;
    top: 0;
  }
  .features-web {
    display: none;
  }

  .features-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    /* height: 10px; */
    /* padding-top: 15px;
    padding-bottom: 15px; */
    /* border: 1px solid blue; */
    position: sticky;
    top: 0;
  }

  .navigationMobile {
    /* margin: 0;
    padding: 0; */
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid blue; */
  }

  .navigationMobile .logo-contentMobile {
    width: 70px;
    height: 30px;
    /* Tambahkan gaya tambahan jika diperlukan */
  }

  .menu-strip-3 {
    display: flex;
    text-align: right;
    /* margin-left: 200px; */
  }

  .menu-strip-3 i {
    /* margin-right: 5px; */
    font-size: 24px;
    color: #111212;
    cursor: pointer;
  }

  /* Gaya untuk daftar menu */
  .menu-strip-3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    /* right: -200px; */
    /* width: 200px; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s;
    display: none;
  }

  .menu-strip-3 ul li {
    padding: 10px;
    text-align: right;
  }

  .menu-strip-3 ul li a {
    color: #000;
    text-decoration: none;
    display: block;
  }

  /* Bagian promotion image */
  .promotionImageWeb {
    display: none;
  }

  .promotionImageMobile {
    display: flex;
  }

  .promotionImageMobile img {
    width: 100%;
    height: auto;
  }
  /* Akhir bagian promotion Image */

  /* Bagian promo in abys */
  .promoInAbysWeb {
    display: none;
  }

  .promoInAbysMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .columnPromoMobile {
    padding: 20px;
    width: 250px;
    height: 420px;
    background-color: #f0f0f0;
    text-align: center;
    /* margin-top: 0px; */
    border: 1px solid #ff4d6d;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .columnPromoMobile p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  .columnPromoMobile img {
    width: 250px;
    height: 320px;
    /* margin-top: 10px; */
    border-radius: 4px;
  }

  .columnPromoMobile .promotionDetailsMobile {
    width: 160px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #ffff;
    font-size: 15px;
    border-radius: 5px;
    background-color: #ef233c;
  }

  .promotionDetailsMobile:hover {
    /* text-decoration: underline; */
    background-color: #c9184a;
  }

  .fa-solid {
    margin-right: 4px;
  }

  /* Akhir Bagian promo in abys */

  /* Bagian abysDesc */
  #abysDesc {
    display: none;
  }

  #abysDescMobile {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  /* Kolom pertama */
  .columnsOneMobile,
  .columnsTwoMobile,
  .columnsThreeMobile {
    flex: 1;
    padding: 5px;
    text-align: left; /* Ubah menjadi "left" agar teks rata kiri */
  }

  .columnsOneMobile h1,
  .columnsTwoMobile h1,
  .columnsThreeMobile h1 {
    font-size: 14px; /* Ukuran font yang sama untuk semua kolom */
  }

  /* Kolom ketiga */
  .columnsThreeMobile h1 {
    margin-bottom: 0;
  }

  .columnsOneMobile p,
  .columnsTwoMobile p {
    font-size: 12px;
    color: #8d99ae;
  }

  .columnsThreeMobile .contactMarketing {
    display: flex;
    flex-direction: column;
  }

  .columnsThreeMobile .contactMarketing img {
    width: 50px;
    height: auto;
    padding-left: 10px;
  }
  .columnsThreeMobile .contactMarketing h4 {
    font-size: 14px;
  }

  .columnsThreeMobile .contactMarketing p {
    font-size: 12px;
  }
  /* Akhir Bagian abysDesc */

  /* Bagian footer */
  .footerWeb {
    display: none;
  }

  .footerMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 0;
    color: #8d99ae;
    margin-top: 20px;
    /* border: 1px solid black; */
  }

  .footer-textMobile {
    font-size: 13px;
  }

  .footer-iconsMobile a {
    text-decoration: none; /* Menghapus underline pada tautan ikon */
    color: inherit; /* Menyimpan warna teks asli */
    margin-right: 0;
    margin: 5px;
  }
}
